.header {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  height: 80px;
  align-items: center;
  border: 2px solid #496A81;
  width: 80%;
  padding: 15px 50px;
  color: #FF961F;
  border-radius: 15px;
  background: rgb(26,41,68);
  background: linear-gradient(220deg, rgba(26,41,68,1) 10%, rgba(64,168,142,1) 44%, rgba(7,103,153,1) 100%);
  h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 2.5rem;

  }
  .user-profile {

    width: 50px;
    .p-avatar.p-avatar-xl {
      width: 60px;
      font-size: 1.3rem;
    }
  }

}